@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap');

* {
  background-color: #fbfbfb;
  text-decoration-line: none;
  /*밑줄 안생기게*/
}

/*네비게이션바 현재 페이지 글씨색 검정.
나중에 페이지마다 검정글씨 설정 따로해줄것.*/
#pagelink {
  color: #000000;
}

/*네비게이션바 현재 페이지 아닌 나머지 글씨색 회색. 
페이지마다 태그 수정 바람.*/
#pagelink_gray {
  color: #7a7a7a;
}

/*로고 오른쪽과 아래쪽을 띄워줌*/
#logo {
  padding-right: 200px;
  padding-bottom: 8px;
}

/*네비게이션바 아래 빈공간*/
#nav-underline {
  height: 4px;
}

/*네비게이션바 전체 정렬과 페이지 크기 줄여도 그대로 있게*/
#nav {
  text-align: center;
  width: 1900px;
}

/*네비게이션바 리스트처럼 안보이게 예쁘게 만들어주는 부분*/
#nav div ul {
  display: inline-block;
  list-style-type: none;
}

/*기초대사량 왼쪽에 세로선*/
#solidLeft {
  border-left: 1px solid #7a7a7a;
  padding-left: 10px;
}

/*네비게이션바 오른쪽 세로선과 나머지 속성들*/
#nav div ul li {
  border-right: 1px solid #7a7a7a;
  padding-right: 10px;

  float: left;
  line-height: 80px;
  padding-left: 75px;
  padding-right: 75px;

  font-family: 'Noto Serif KR', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 42px;
}

/*마우스 가져가면 검정색으로 색 바뀜*/
#nav div ul li a:hover {
  color: #000000;
}

/*네비게이션바 아래 메인 부분과 구분하는 가로선*/
#hr {
  margin: 0;
}

#content {
  width: 1900px;
}



#left_side {
  font-family: 'Noto Serif KR', serif;
  font-weight: bold;
  font-size: 23px;

  width: 500px;
  height: 450px;
  margin-top: 150px;
  margin-left: 500px;
  margin-right: 50px;
  float: left;

  border: 2px solid #48DB4E;
  border-radius: 8px;
}

#right_side {
  position: relative;
  width: 350px;
  height: 450px;
  margin-top: 150px;
  margin-right: 490px;
  margin-left: 50;
  float: left;

  border: 2px solid #48DB4E;
  border-radius: 8px;

  font-family: 'Noto Serif KR', serif;
  font-weight: bold;
  font-size: 15px;
}

#label_1 {
  display: block;
  margin-left: 195px;
  margin-top: 55px;
  margin-bottom: 40px;
}

#label_2 {
  display: block;
  margin-left: 195px;
  margin-top: 55px;
  margin-bottom: 40px;
}

#activityForm select {
  font-family: 'Noto Serif KR', serif;
  font-size: 18px;

  border-width: 1.5px;
  border-color: #000000;

  width: 80%;
  height: 40px;

  margin-left: 50px;
}

#activityForm select:focus {
  outline: none;
  border-color: #000000;
}


#divider1 {
  border-top: 2px solid #48DB4E;
  width: 450px;
  margin-top: 50px;
}

#activityForm input[type="number"] {

  font-family: 'Noto serif KR', serif;
  font-size: 15px;

  border-width: 1.5px;
  border-color: #000000;

  width: 300px;
  height: 30px;

  margin-left: 50px;
  margin-bottom: 50px;
}

#activityForm button {
  font-family: 'Noto Serif KR', serif;
  font-size: 15px;
  background-color: #48DB4E;

  width: 70px;
  height: 36px;

  margin-left: 15px;

  border-radius: 5px;
  border: #48DB4E;
}

#activityList li {
  margin-bottom: 12px;
}

#totalTime {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 125px;
}

/*활동 대사량으로 고치면 left를 조금 줄여야 할 듯.*/
#active_metabolism {
  margin-top: 30px;
  margin-left: 90px;
  font-size: 20px;
  font-weight: bold;
}

/*푸터 스타일. 일단 통일해 봤는데 어떤지*/
#footer-content {
  position: absolute;
  bottom: 120px;
  width: 1900px;
  text-align: center;
}