@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap');


* {
  background-color: #fbfbfb;
  text-decoration-line: none;
}

/*네비게이션바 글씨색 검정.
나중에 페이지마다 회색글씨 검정글씨 설정 따로해줄것.*/
#pagelink {
  color: #000000;
}

/*로고 오른쪽과 아래쪽을 띄워줌*/
#logo {
  padding-right: 200px;
  padding-bottom: 8px;
}

/*뭔지 모르겠음. 근데 없으면 안됨*/
#nav-underline {
  position: absolute;
  height: 4px;
  background-color: olive;
  transition: .6s ease-out;
}

/*네비게이션바 전체 정렬*/
#nav1 {
  text-align: center;
  width: 1904px;
}

/*네비게이션바 예쁘게 만들어주는 부분*/
#nav1>div ul {
  display: inline-block;
  list-style-type: none;
}

/*기초대사량 왼쪽에 세로선*/
#solidLeft {
  border-left: 1px solid #c4c4c4;
  padding-left: 10px;
}

/*네비게이션바 리스트*/
#nav1 div>ul li {
  /* 네비게이션바 오른쪽 세로선 */
  border-right: 1px solid #c4c4c4;
  padding-right: 10px;

  float: left;
  line-height: 80px;
  padding-left: 75px;
  padding-right: 75px;

  font-family: 'Noto Serif KR', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
}

/*navigator 구분선*/
#rect1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1px;

  background: #0000004d;
  border-radius: 20px;
}