@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');


* {
  background-color: #fbfbfb;
  text-decoration-line: none;

}

#pagelink {
  color: #000000;
}

#logo {
  padding-top: 30px;
  padding-left: 50px;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

#nav-underline {
  position: absolute;

  height: 4px;

  background-color: olive;

  transition: .6s ease-out;
}

#nav ul:first-child {
  /*선택 li 진회색*/
  color: #536152;
}

#nav1 {
  text-align: center;
}

#nav1>div ul {
  display: inline-block;
  list-style-type: none;
}


#nav div ul li:not(:first-of-type) {
  color: #53615299;

}

#nav1 div>ul li {
  /*
    width: 201px;
    height: 45px;
    left: 216px;
    top: 181px;
  */

  float: left;
  line-height: 80px;
  padding-left: 75px;
  padding-right: 75px;

  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
}

/*navigator 구분선*/
#rect1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1px;

  background: #0000004d;
  border-radius: 20px;
}

/*li 밑의 초록선*/
.green_rect {

  width: 247px;
  height: 7px;

  float: left;
  padding: 0 30px;
  background: #48db4e80;
  border-radius: 10px;
}